<div class="inner">
    <h3 class="masthead-brand">musync</h3>
    <nav class="nav nav-masthead">
                        <a [routerLinkActive]="['active']"  class="nav-link" [routerLink]="['/home']">
                            Home
                        </a>
                        <a [routerLinkActive]="['active']"  class="nav-link" [routerLink]="['/integrations']">
                            Integrations
                        </a>
                        <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/contact']">
                            Contact
                        </a>
    </nav>
</div>