<div class="site-wrapper">
  <div class="site-wrapper-inner">
      <div class="cover-container">
      <header class="masthead clearfix">
          <nav-menu></nav-menu>
      </header>
      <main role="main" class="inner cover">
          <router-outlet></router-outlet>
      </main>
      <footer class="mastfoot">
          <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          </div>
      </footer>
      </div>
  </div>
</div>
